<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<style type="text/css">
    div {
        text-align: center;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
</style>
<body>
<div>
    <h2>This web application allows you to</h2>
    <h2>search course information from the following 3 universities:</h2>
    <h2>1.Reed College</h2>
    <h2>2.Washington State University</h2>
    <h2>3.University of Wisconsin–Madison</h2>
    <h2>Please click here <button onclick="window.location.href='./queryPage'">Search Page</button> to go to the search page.</h2>
</div>
</body>
</html>